@import "https://unpkg.com/open-props";

/* define keyframes here */

:root {
    --duration-xx-fast: 100ms;
    --duration-x-fast: 200ms;
    --duration-fast: 300ms;
    --duration: 400ms;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body{
    padding: 1.5rem;
    line-height: 1.5rem;
}

img,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

dialog{
    padding: 0;
    border: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.button-reset {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.dialog__body{
    max-width: 25rem;
    padding: 1rem 0;
    border: none;
    padding: 1rem;
}

.dialog__header{
    background-color: lightgray;
    padding: 1rem;
    font-size: 1rem;
}

.kruisje{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}